# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\张鹏飞文件夹\git\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
